venv/
.env
.DS_Store
.vscode/
credentials.json
*.db
*.log
*.xlsx
first_program.py
proverka_tg.py
scraper_rabochiy.py
echo ".~lock.*" >> .gitignore
git add .gitignore
git commit -m "Добавил временные файлы в .gitignore"
